@import '~antd/dist/antd.css';

.ant-message {
  position: fixed;
  bottom:50px;
  top: auto;
  background:  none;
  color: #666;
  font-size: 20px;
}
.ant-message-notice-content {
  background: none;
  border: 0px;
  box-shadow: none;
}